# Copy this file to .env and fill in your actual values
API_BASE_URL="https://router.huggingface.co/v1"  # for testing use https://generativelanguage.googleapis.com/v1beta/openai/
MODEL_NAME="your-model-name-here"                # for testing use gemini-2.5-flash
HF_TOKEN="your-huggingface-or-openai-api-key"    # for testing use gemini key here 
